.contents__bottom1
  = message.user.name 
  .contents__bottom1--data=message.created_at.strftime("%Y/%m/%d %H:%M")
.contents__bottom1--comments
  - if message.content.present?
    = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?